body 
{
    background-color: #4e4b4c;
    color: white;
    font-family: "Console", console, monospace;
    margin: 0;
}
body a
{
    color: white;
    text-decoration: none;
}
#Content 
{
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	height: 92%;
	background: black;
	color: white;
}
#SectionH
{
	display: block;
	width: 75%;
	margin: 0 auto;
	background-color: #4e4b4c;
	border-radius: 15px 15px 0 0;
	border-bottom: 5px solid white;
	overflow: hidden;
}
#SectionC
{
	display: block;
	width: 75%;
	margin: 0 auto;
	background-color: grey;
	border-radius: 0 0 15px 15px;
	overflow: hidden;
}
#Footer
{
	display: block;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
}