.Menu A
{
    text-decoration: none;
    color: white;
}
.Menu UL
{
    display: table;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}
.Menu LI
{
    background-color: purple;
    border: 1px Solid White;
    border-collapse: collapse;
    display: inline;
    float: left;
    position: relative;
    text-align: center;
    width: 175px;
}
.Menu LI UL
{
    position: absolute;
    visibility: hidden;
    padding: 0px;
}
.Menu LI UL LI UL LI
{
    visibility: hidden;
    width: 100px;
    left: 175px;
    bottom: 20px;
}
.Menu LI:Hover
{
    background-color: black;
}
.Menu LI:Hover UL
{
    visibility: visible;
}
.Menu LI UL LI:Hover UL LI
{
    visibility: visible;
}
.CL
{
    clear: both;
}
