.Menu
{
	list-style: none;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: #4e4b4c;
    height: 50px;
	/*border-bottom: 1px solid grey;*/
	border-radius: 0px 0px 15px 15px;
	border-bottom: 1px solid white;
}
.Menu A
{
    text-decoration: none;
    color: white;
}
.Menu UL
{
    display: table;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
	height: 25px;
}
.Menu LI
{
	background-color: #4e4b4c;
    display: inline;
    float: left;
    position: relative;
    text-align: center;
    width: 175px;
	display: block;
	vertical-align: center;
}
.Menu LI UL LI:last-child
{
	border-radius: 0px 0px 15px 15px;
	border-bottom: 1px solid white;
}
.Menu LI UL 
{
    position: absolute;
    visibility: hidden;
}
.Menu LI UL LI
{
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.Menu LI UL LI UL LI
{
    visibility: hidden;
    width: 100px;
    left: 175px;
    bottom: 20px;
}
.Menu LI A:Hover
{
    color: grey;
}
.Menu LI:Hover UL
{
    visibility: visible;
}
.Menu LI UL LI:Hover UL LI
{
    visibility: visible;
}
.CL
{
    clear: both;
}
